<a href="https://colab.research.google.com/github/Genesisher28/Practicas-Progra22/blob/maister/Practicas_Progra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional III")

Hola Mundo Bienvenidos a Programacion Computacional III

In [13]:
print("Genesis Hernandez")

Genesis Hernandez

In [12]:
nombre = "Genesis Hernandez"
print("Hola", nombre, nombre[5], type(nombre))

nombre = 25
print("Tu edad es: ", type(nombre))

Hola Genesis Hernandez i <class 'str'>
Tu edad es:  <class 'int'>

In [11]:
programacion = True
diseno = False
print("Te gusta Progra", programacion, "Te gusta diseño", diseno, type(programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [10]:
edad = int(input("Dime tu edad: "))
if edad>=18: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes responsabilidades...")
else:
  print("Eres libre")

Dime tu edad: 19
Eres un adulto, tienes responsabilidades...

In [9]:
def sumaDosNumeros(num1, num2):
  resp = num1 + num2
  return resp
print( "La suma: ", sumaDosNumeros(2,5) )

La suma:  7

In [8]:
#funciones anonimas... 
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [15]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [16]:
def cuadrado(num):
  return num**2

In [17]:
def cubo(num):
  return num**3

In [18]:
def pares(num): #num = 2/2 = 1 == 0
  return num%2==0

In [19]:
def impares(num):
  return num%2!=0

In [20]:
numCuadrado = list(map(cuadrado, numeros))
numXDos = list( map(lambda num: num*2, numeros) )
print("Elevar al cuadradola lista: ",numCuadrado, numXDos )

Elevar al cuadradola lista:  [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [21]:
numCubo = list( map(cubo, numeros) )
print(numCubo)

[125, 64, 343, 512, -64, -729]

In [22]:
#usando filter dejamos solo los pares
pares = list( filter(pares, numeros) )
print(pares)

[4, 8, -4]

In [23]:
impares = list( filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [24]:
#conversor de celsius a f
def cf(c):
  return c*9/5+32

In [25]:
c = float(input("Grados C: "))
print( "G. C a F", cf(c))

Grados C: 30
G. C a F 86.0

In [26]:
celsius = lambda c: c*9/5 + 32
c = int(input("Grados Celsius A convertir: "))

print( celsius(c) )

Grados Celsius A convertir: 10
50.0

In [27]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 + 32
f = list( map(grados, gradosc) )
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

Tarea: Hacer un algoritmo en python que convierta de farenheit a celsius Hacer un algoritmo en python que convierta de Celsius a Kelvin y viceversa

In [29]:
numeros = [5,7,9,6,8,7,3] #, se declara y usa con corchetes

In [30]:
print(" Lista original ", " Buscando: ", numeros[numeros.index(3)], numeros[0] )

 Lista original   Buscando:  3 5

In [31]:
numeros[0] = 4
print("Nuevo valor: ", numeros[0])

Nuevo valor:  4

In [32]:
edades = (2,5,12,18,65,100) #Una tupla es inmutable, se declara con parentesis
print( "Las edades: ", edades, edades[0] )

Las edades:  (2, 5, 12, 18, 65, 100) 2

In [33]:
#edades[0] = 0 #NO puedo cambiar su valor, y se usa con corchetes
print( "Nuevo Valor", edades[0] )

Nuevo Valor 2

In [34]:
print("Edades: ", edades, "Filtrar solo mayores de edad: ", tuple(filter( lambda num: num>=18, edades )) )

Edades:  (2, 5, 12, 18, 65, 100) Filtrar solo mayores de edad:  (18, 65, 100)

In [37]:
buscando = int(input("Valor: "))
print( "Edades: ", edades, "Buscando el numero: ", buscando, "esta en la posicion: ", edades.index(buscando) )

Valor: 5
Edades:  (2, 5, 12, 18, 65, 100) Buscando el numero:  5 esta en la posicion:  1

In [38]:
notas = [5, 4, 10, 7.8, 9]
print("Mis Notas: ", notas, "Notas sobresalientes: ", list(filter(lambda n:n>=9, notas)) )

Mis Notas:  [5, 4, 10, 7.8, 9] Notas sobresalientes:  [10, 9]

In [39]:
notasCiclo = [
    [5,6,6],
    [8,7,10],
    [10,10,10]
]
print( "Mis Notas", notasCiclo, "C1: ", notasCiclo[0], "C2: ", notasCiclo[1], "C3: ", notasCiclo[2], "PC1: ", notasCiclo[0][2] )

Mis Notas [[5, 6, 6], [8, 7, 10], [10, 10, 10]] C1:  [5, 6, 6] C2:  [8, 7, 10] C3:  [10, 10, 10] PC1:  6

In [40]:
materias = [
    [ #Progra
      [5,6,[10,8]],#c1
      [5,7,8],#c2
      [6,7,6] #c3
    ],
    [ #Diseño
      [10,9,10], #c1
      [10,10,8], #c2
      [10,10,10] #c3
    ],
    [ #Redes
      [8,7,8], #c1
      [7,9.23,9], #c2
      [8,7,9]  #c3
    ]
]
print("Progra: C1 - P", (materias[0][0][2][0] + materias[0][0][2][1])/2, "; Redes C2, Lab2: ", materias[2][1][1] )

Progra: C1 - P 9.0 ; Redes C2, Lab2:  9.23

In [41]:
misMaterias = {} #los diccionarios (json) se definen con llaves y se usan con corchetes
misNotas = {
    "Progra I":{
        "CI": {
            "Lab1": 5,
            "Lab2": 6,
            "Parcial": [10,8]
        },
        "CII":{
            "Lab1": 5,
            "Lab2": 7,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":6,
            "Lab2":7,
            "Parcial":6
        }
    },
    "Diseño":{
        "CI": {
            "Lab1": 10,
            "Lab2": 9,
            "Parcial": 10
        },
        "CII":{
            "Lab1": 10,
            "Lab2": 10,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":10,
            "Lab2":10,
            "Parcial":10
        }
    }
}
print( misNotas["Progra I"]["CI"]["Parcial"], misNotas["Diseño"]["CII"]["Lab2"] )

[10, 8] 10

Conversor de Divisas... Dolares, Quetzalez, Lempiras, Cordobas, Pesos CR, Euros, Colon SV, Yenes, Soles Peruanos

In [42]:
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [43]:
def convertir(de, a, cantidad):
  return valores[a] / valores[de] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

In [ ]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print(divisas[de], " a ", divisas[a], " es:", convertir(de, a, cantidad) )

ESTRUCTURAS DE CONTROL

In [ ]:
#if dondicional si

edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Edad un niño")
elif (edad<18):
  print("Eres un adolescente")
elif(edad<65):
  print("Eres mayor de edad, tienes responsabilidades")
elif(edad<80):
  print("Eres un adulto mayor")
else:
  print("Larga vida")

In [ ]:
#Ciclos, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario
#while
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

In [ ]:
ntabla = int(input("Tabla: "))
for i in range(1, 11):
  print(ntabla, "X", i, "=", ntabla*i)

In [ ]:
#HAcer un programa en python que genera la tabla de multiplicar dada por el usuario, hasta que el usuario desida salir
s="s"
while s=="s":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "X", i, "=", ntabla*i)
  s = input("Continuar s, cualquier otra tecla para salir ")
print("Salistes...")

In [59]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [60]:
etiquetas = [
  [],
  ["Seleccione una divisa", "1. Dolares", 
            "2. Quetzalez", "3. Lempiras", "4. Cordobas", 
            "5. Pesos CR", "6. Euros", "7. Colon SV", 
            "8. Yenes", "9. Soles Peruanos"
  ],
  ["Seleccione una opcion", "1. Metro", "2. Milimetro", 
    "3. Centimetro", 
    "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas"],
  ["Sleccione una opcion", "1. Gigabyte", "2. Megabyte", "3. Kilobyte"] #Almacenamiento
]
valores = [[],
    [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84], #divisas
    [0, 1, 1000, 100, 3.28084, 1.1963081929167, 1.0936133, 0.001, 0.000621371], #longitudes
    [0,1, 1000, 1000000]
]

In [ ]:
print("**MENU - CONVERSOR**")
print("1. Divisas")
print("2. Longitud")
print("3. Almacenamiento")
opcion = int(input("Conversor: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de = int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
print( "COnversion de ", etiquetas[opcion][de], " a ", etiquetas[opcion][a], " equivale a ", convertir(opcion, de, a, cantidad) )

In [63]:
#polimosfismo

num1 = 5.5
num2 = 4
print("Suma: ", num1 + num2)

nombre = "Scarlet "
saludo = "Hola " + nombre
print(saludo)

Suma:  9.5
Hola Scarlet

In [64]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [65]:
#USO del paradigma del Programacion Orientada a Objetos
class deducciones:
  def __init__(self, sueldo, porcentajeIsss, porcentajeAfp, tablaIsr):
    self.sueldo = sueldo
    self.porcentajeIsss = porcentajeIsss
    self.porcentajeAfp = porcentajeAfp
    self.tablaIsr = tablaIsr
  
  def calcularIsss(self):
    return self.sueldo*self.porcentajeIsss/100

  def calcularAfp(self):
    return self.sueldo*self.porcentajeAfp/100
  
  def calcularIsr(self):
    self.sueldoNeto = self.sueldo - (self.calcularIsss() + self.calcularAfp())
    self.isr = 0
    for tramo in self.tablaIsr:
      if self.sueldoNeto>=tramo[0] and self.sueldoNeto<=tramo[1]:
        self.isr = (self.sueldoNeto - tramo[0])*tramo[2]/100 + tramo[3]
    return self.isr

In [66]:
#ISSS
porcentajeIsssP = 3 #esta valor puede venir de una base de datos
porcentajeIsssE = 7.5
#aFP
porcentajeAfpP = 6.25
porcentajeAfpE = 7.75
#ISR
tablaIsr = [
    [0.01,    472,     0,  0],     #tramo I
    [472.01,  895.24,  10, 17.67], #tramo II
    [895.25,  2038.10, 20, 60],    #tramo III
    [2038.11, 9999999, 30, 288.57] #tramo IV
]

In [67]:
sueldo = float(input("Sueldo: "))

objDp = deducciones(sueldo, porcentajeIsssP, porcentajeAfpP, tablaIsr)
objDe = deducciones(sueldo, porcentajeIsssE, porcentajeAfpE, tablaIsr)

print("ISSS - Personas: ", round(objDp.calcularIsss(),2), "ISSS - Empresa:", round(objDe.calcularIsss(),2))
print("AFP - Personas: ", round(objDp.calcularAfp(),2), "AFP - Empresa: ", round(objDe.calcularAfp(), 2))
print("Isr - Personas: ", round(objDp.calcularIsr(),2) )

Sueldo: 500
ISSS - Personas:  15.0 ISSS - Empresa: 37.5
AFP - Personas:  31.25 AFP - Empresa:  38.75
Isr - Personas:  0.0

In [68]:
#Importamos la libreria pandas
import pandas as pd

In [69]:
lenguajes = {
    0:"VB",
    1:"C#",
    2:"JAVA",
    3:"XML",
    4:"PYTHON",
    5:"JS",
    6:"HTML",
    7:"CSS",
    8:"PHP"
};
pdLenguajes = pd.Series(lenguajes);
print( lenguajes, dict(pdLenguajes) );

pdLeng = pd.Series(["VB", "C#", "JAVA", "XML", "PYTHON"], index=[1,2,3,4,5])
print( dict(pdLeng), pdLeng[1] )

{0: 'VB', 1: 'C#', 2: 'JAVA', 3: 'XML', 4: 'PYTHON', 5: 'JS', 6: 'HTML', 7: 'CSS', 8: 'PHP'} {0: 'VB', 1: 'C#', 2: 'JAVA', 3: 'XML', 4: 'PYTHON', 5: 'JS', 6: 'HTML', 7: 'CSS', 8: 'PHP'}
{1: 'VB', 2: 'C#', 3: 'JAVA', 4: 'XML', 5: 'PYTHON'} VB

In [70]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
notas = pd.read_csv("/content/Notas.csv", sep=";", encoding="utf-8")
print(notas)

In [ ]:
sobresalientes = notas.loc[notas["notas"]>=9]
print(sobresalientes)

In [ ]:
reprobados = notas.loc[notas["notas"]<6].agg({"count"})
print(reprobados)

In [ ]:
agrupar = notas.groupby(["notas"]).agg({"sum"})
print(agrupar)

In [ ]:
tabla = pd.crosstab(index=notas["notas"], columns="frecuencia")
plt.pie(tabla, labels=tabla.index)
plt.xlabel("Estudiantes por notas")
plt.show()

tabla.to_csv("/content/Notas.csv", sep=";")

HOLA MUNDO EN TENSORFLOW - IA

In [76]:
import tensorflow as tf

In [77]:
resp = tf.add(3,8).numpy()
print(resp)

11

ENTRENAR UNA IA QUE CONVIERTA GRADOS CELSIUS A FAHRENHEIT

In [78]:
#importar las librerias
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
#leer datos de entrenamiento
temperaturas = pd.read_csv("/content/grados.csv", sep=";")
print(temperaturas["celsius"])

In [ ]:
#graficar los datos
sb.scatterplot(temperaturas["celsius"], temperaturas["fahrenheit"])
plt.show()

In [83]:
#datos de entrada y salida
celsius = temperaturas["celsius"]
fahrenheit = temperaturas["fahrenheit"]

In [84]:
#modelo de entrenamiento
modelo = tf.keras.Sequential()
modelo.add(tf.keras.layers.Dense(units=1, input_shape=[1]))

In [85]:
#compilar elmodelo
modelo.compile(optimizer=tf.keras.optimizers.Adam(1), loss='mean_squared_error')

In [ ]:
#entrenar el modelo
epocas = modelo.fit(celsius, fahrenheit, epochs=100, verbose=1)

In [87]:
#hacer predicciones... verificar si el resultado es el esperado
f = modelo.predict([27])
print(f[0][0])

80.23292

ENTRENAR UNA IA QUE APRENDA A LEERE NUMEROS DEL 0-9

In [88]:
#1. Importar las librerias.
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import math
import tensorflow_datasets as tfds

In [ ]:
#2. cargamos nuestro dataset en variables
dataset, metadata = tfds.load('mnist', as_supervised=True, with_info=True)
datos_entrenamiento, datos_prueba = dataset["train"], dataset["test"]

In [100]:
#3. Etiquetas de los datos son 10
numeros_letras = ["Cero", "Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis", "Siete", "Ocho", "Nueve"]

In [ ]:
#4. obtener la cantidad de datos de entrenamiento y prueba
print(metadata.splits)
numeros_ejemplo_entrenamiento = metadata.splits["train"].num_examples
numeros_ejemplo_prueba = metadata.splits["test"].num_examples

In [92]:
#5. funcion normalizadora para convertir los valores  de 0 a 255 de los colores entre 0 y 1
def normalizacion(img, labels):
  img = tf.cast(img, tf.float32)
  img /= 255 #150/255 = 0.58
  return img, labels

In [93]:
#6. Llamar la funcion normalizadora
"""for img, label in datos_entrenamiento.take(1):
  print( img.numpy()/255 )
"""
datos_entrenamiento = datos_entrenamiento.map(normalizacion)
datos_prueba = datos_prueba.map(normalizacion)

In [94]:
#7. Arquitectura de la red neuronal.
modelo = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(28,28,1)), #capa de entrada de 28*28*1 canal
    tf.keras.layers.Dense(64, activation=tf.nn.relu), #capa oculta con 64 neuronas, con la funcion de activacion RELU, nos da valores entre 0 y 1
    tf.keras.layers.Dense(64, activation=tf.nn.relu), #capa oculta con 64 neuronas, con la funcion de activacion RELU, nos da valores entre 0 y 1
    tf.keras.layers.Dense(10, activation=tf.nn.softmax) #capa de salida con 10 neuronas, con la funcion de activacion softmax es exclusiva para clasificacion de imagenes
])

In [95]:
#8. compilar el modelo.
modelo.compile(
    optimizer="adam",
    loss="sparse_categorical_crossentropy",
    metrics=['accuracy']
)

In [96]:
#9. Entrenamiento por lote
size_lote = 32
datos_entrenamiento = datos_entrenamiento.repeat().shuffle(numeros_ejemplo_entrenamiento).batch(size_lote)
datos_prueba = datos_prueba.repeat().shuffle(numeros_ejemplo_prueba).batch(size_lote)

In [ ]:
#10. Realizamos el entrenamiento
modelo.fit(datos_entrenamiento, epochs=5, 
           steps_per_epoch=math.ceil(numeros_ejemplo_entrenamiento/size_lote))

In [ ]:
#11. Evaluamos el aprendizaje
test_loss, test_accuracy = modelo.evaluate(datos_prueba, steps=math.ceil(numeros_ejemplo_prueba/size_lote))
print("Resultados de ls pruebas", test_loss, test_accuracy)

In [ ]:
#12.Graficamos la salida para evaluar los resultados 
def graficar_img(i, prediccion_array, true_labels,img)
prediccion_array, True_labels, img = prediccion_array[i], true_labels[1], img[1]
plt.grid(False)
plt.xticks([])
plt.yticks([])
plt.imshow(img[...,0], cmap=plt.cm.binary)

prediccion_label = np.argmax(prediccion_array)
if prediccion_label==True_labels:
  color = "blue"
else: 
  plt.xlabel("prediccion: {}".format(numeros_letras[prediccion_label]), color=color)

In [ ]:
#14.	graficar las matrices una es para la imagen de los numeros y la otra es para la grafica de barras de acuerdo al porcentaje de acierto.
def graficar_valores_array(i, prediccion_array, true_labels):
prediccion_array, true_labels = prediccion_array[i], true_labels[i]
plt.grid(False)
plt.xticks([])
plt.yticks([])
thisplot = plt.bar(range(10), prediccion_array, color="#888888")
plt.ylim([0,1])
prediccion_label = np.argmax(prediccion_array)

thisplot[prediccion_label].set_color('red')
thisplot[true_labels].set_color('blue')

In [ ]:
#Pendiente Pasos 12,14
#13,15. Hacer una prediccion.
i=0
for miImg, etiqueta in datos_entrenamiento.take(1):
  etiqueta = etiqueta.numpy()
  img = miImg[i].numpy().reshape(1,28,28,1)
  prediccion = modelo.predict(img, batch_size=1)

valor_predicho = np.argmax(prediccion)
print( valor_predicho, etiqueta[i] )

plt.grid(False)
plt.imshow(img[0,...,0], cmap=plt.cm.binary)
plt.xlabel("Prediccion: {}".format(numeros_letras[valor_predicho]), color="green")